{% extends 'base.html' %}

{% block title %}
  Regressoin Analyser
{% endblock %}

{% block content %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

<div class="img animated-img">
    <img src="../static/images/index.png" alt="Management Image">
</div>
<div class="title animated-title"> Regressoin Analyser</div>
<div class="description animated-description">
    Unravel the hidden relationships within your datasets with Regression Analyzer, the ultimate tool for data exploration and analysis. Whether you're a seasoned data scientist or a novice analyst, this intuitive app empowers you to delve deep into your data, extract meaningful insights, and make informed decisions.
</div>

<form action="/" method="post" enctype="multipart/form-data"  >

    <!-- <a href="#" id="start-btn" class="btn">  </a> -->
    <input  id = 'file-picker' type="file" name="file" hidden  multiple>
    <label for="file-picker" class="animated-btn btn">Start journy</label>
    <input id="sub-btn" type="submit" value="Upload" title="Upload your data" hidden>
</form>

<script>


        const filePicker = document.getElementById('file-picker')
        const submitBtn = document.getElementById('sub-btn')

        filePicker.addEventListener('change',() => {
            if (filePicker.files.length !== 0) {
                submitBtn.click()
            }
        })

  </script>

{% endblock %}